*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
#box{
    height: 100px;
    width: 100px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: lightseagreen;
    transition: all ease 0.9s;
}
button{
    padding: 10px 20px;
    color: #fff;
    font-size: 17px;
    background-color: royalblue;
    border: none;
    border-radius: 10px;
    border: 2px solid black;
}

button:active{
    scale: 0.95;
}